<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1" />
   <title>ChatBot</title>
   <link href="https://unpkg.com/tailwindcss@1.9.6/dist/tailwind.min.css" rel="stylesheet" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
   <link rel="stylesheet" href="{{ url_for('static', filename = '/css/style.css') }}">
</head>

<body class="h-screen overflow-hidden flex items-center justify-center" style="background: #edf2f7">
   <div class="flex h-screen antialiased text-gray-800 w-full">
      <div class="flex flex-row h-full w-full overflow-x-hidden">
         <div class="flex flex-col py-8 pl-6 pr-2 w-64 bg-white flex-shrink-0 sidebar-layout">
            <div class="flex flex-row items-center justify-center h-12 w-full">
               <div class="flex items-center justify-center rounded-2xl text-indigo-700 bg-indigo-100 h-10 w-10">
                  <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                     xmlns="http://www.w3.org/2000/svg">
                     <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M8 10h.01M12 10h.01M16 10h.01M9 16H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-5l-5 5v-5z">
                     </path>
                  </svg>
               </div>
               <div class="ml-2 font-bold text-2xl">ChatBot</div>
            </div>
            <div
               class="flex flex-col items-center bg-indigo-100 border border-gray-200 mt-4 w-full py-6 px-4 rounded-lg">
               <div class="text-sm font-semibold mt-2">NGHIÊN CỨU KHOA HỌC</div>
               <div class="text-sm font-semibold mt-2">2023-2024</div>
               <div class="text-xs text-gray-700">Dương Trọng Chí - 52000742</div>
               <div class="h-20 w-20 rounded-full border overflow-hidden">
                  <img src="{{ url_for('static', filename = '/img/tdtu.jpeg') }}" alt="Avatar" class="h-full w-full" />
               </div>
            </div>
            <!-- history chat  -->
            <div class="flex flex-col mt-2 history-layout">
               <!-- new chat  -->
               <div class="flex flex-col space-y-1 mt-2 -mx-2 mb-2">
                  <button class="flex flex-row items-center hover:bg-gray-100 rounded-xl p-2" onclick="resetChat()">
                     <div class="flex items-center justify-center h-8 w-8 bg-indigo-200 rounded-full">
                        <i class="fa-solid fa-plus"></i>
                     </div>
                     <div class="ml-2 text-sm font-semibold">New chat</div>
                  </button>
               </div>

               <div class="flex flex-row items-center justify-between text-xs history-title">
                  <span class="font-bold">Recent</span>
                  <span
                     class="flex items-center justify-center bg-gray-300 h-4 w-4 rounded-full conversations-size">4</span>
               </div>

               <!-- conversations  -->
               <div class="flex flex-col space-y-1 mt-4 -mx-2 h-48 overflow-y-auto conversation-list">

                  <!-- <div class="flex flex-row items-center">
                     <button class="flex flex-row items-center hover:bg-gray-100 rounded-xl p-2">
                        <div class="flex items-center justify-center h-8 w-8 bg-gray-200 rounded-full">
                           <i class="fa-solid fa-message"></i>
                        </div>
                        <div class="ml-2 text-sm font-semibold conversation-title">
                           Quy định về thương mại ở nông thôn
                        </div>
                     </button>
                     <button class="ml-2 text-sm font-semibold text-red">
                        <i class="fa-solid fa-xmark"></i>
                     </button>
                  </div> -->

               </div>
            </div>
         </div>
         <!-- Conversation Layout  -->
         <div class="flex flex-col flex-auto h-full p-6 conversation-layout">
            <div
               class="flex flex-col flex-auto flex-shrink-0 rounded-2xl bg-gray-100 h-full p-4 conversation-container">
               <div class="flex flex-col h-full overflow-x-auto mb-4 conversation-message-layout">
                  <div class="flex flex-col h-full conversation-message-container">
                     <!-- message list.................................... -->
                     <div class="grid grid-cols-12 gap-y-2 conversation-message-list">

                        <!-- <div class="col-start-1 col-end-8 p-3 rounded-lg conversation-message-box ai-box">
                           <div class="flex flex-row">
                              <div
                                 class="flex items-center justify-center h-10 w-10 rounded-full bg-indigo-500 flex-shrink-0">
                                 <i class="fa-solid fa-robot"></i>
                              </div>
                              <div class="relative ml-3 text-sm bg-white py-2 px-4 shadow rounded-xl">
                                 <div>
                                    Xin chào tôi là law chat - trợ lý ảo có thể giúp bạn
                                    giải đáp các câu hỏi liên quan đến pháp luật, các
                                    thông tin được trích xuất từ văn bản luật. Bạn cần tôi
                                    giúp gì nào?
                                 </div>
                              </div>
                           </div>
                        </div> -->

                     </div>
                  </div>
               </div>
               <div class="flex flex-row items-center h-16 rounded-xl bg-white w-full px-4 chat-input-container">
                  <div class="relative">
                     <div class="absolute bottom-0 bg-white p-5 mb-10 w-auto h-96 example hidden">
                        <ul>
                           <li class="bg-indigo-100 px-8 py-2 my-2 rounded-full hover:bg-gray-600"
                              onclick="getQuestion(this)">
                              Xin chào, cho tôi hỏi bạn là ai?
                           </li>
                           <li class="bg-indigo-100 px-8 py-2 my-2 rounded-full hover:bg-gray-600"
                              onclick="getQuestion(this)">
                              Thời hạn của hợp đồng dầu khí là bao nhiêu năm?
                           </li>
                           <li class="bg-indigo-100 px-8 py-2 my-2 rounded-full hover:bg-gray-600"
                              onclick="getQuestion(this)">
                              Hình thức đại lý hoa hồng theo quy định là gì?
                           </li>
                           <li class="bg-indigo-100 px-8 py-2 my-2 rounded-full hover:bg-gray-600"
                              onclick="getQuestion(this)">
                              Hợp đồng theo mẫu là gì?
                           </li>
                           <li class="bg-indigo-100 px-8 py-2 my-2 rounded-full hover:bg-gray-600"
                              onclick="getQuestion(this)">
                              Trộm cắp điện là hành vi gì?
                           </li>
                           <li class="bg-indigo-100 px-8 py-2 my-2 rounded-full hover:bg-gray-600"
                              onclick="getQuestion(this)">
                              Tôi đang có nhu cầu muốn mở tiệm net để kinh doanh thì
                              theo quy định tôi cần làm gì?
                           </li>
                           <li class="bg-indigo-100 px-8 py-2 my-2 rounded-full hover:bg-gray-600"
                              onclick="getQuestion(this)">
                              Nếu tôi không có trách nhiệm đóng tiền điện trong nhiều
                              tháng liên tiếp thì tôi có bị xử lý gì không?
                           </li>
                           <li class="bg-indigo-100 px-8 py-2 my-2 rounded-full hover:bg-gray-600"
                              onclick="getQuestion(this)">
                              Tôi sẽ bị xử phạt thế nào nếu tôi lỡ kinh doanh buôn bán
                              không có giấy phép vệ sinh an toàn thực phẩm?
                           </li>
                           <li class="bg-indigo-100 px-8 py-2 my-2 rounded-full hover:bg-gray-600"
                              onclick="getQuestion(this)">
                              Tôi là chủ của nhà hàng 5 sao chuyên phục vụ các món hải
                              sản địa phương, nhưng tôi bị chủ của nhà hàng kế bên tùy
                              tiện giở chiêu trò bôi nhọ nhà hàng tôi và khiến cho nhà
                              hàng tôi thua lỗ nặng. Vậy tôi có nên kiện họ không?
                           </li>
                           <li class="bg-indigo-100 px-8 py-2 my-2 rounded-full hover:bg-gray-600"
                              onclick="getQuestion(this)">
                              Mày là con chat ngu. Cho tao hỏi địa chỉ nhà mày ở đâu?
                           </li>
                        </ul>
                     </div>
                     <button class="flex items-center justify-center text-gray-400 hover:text-gray-600 attach-btn">
                        <i class="fa-solid fa-file-circle-question"></i>
                     </button>
                  </div>
                  <div class="flex-grow ml-4">
                     <div class="relative w-full">
                        <input type="text"
                           class="flex w-full border rounded-xl focus:outline-none focus:border-indigo-300 pl-4 h-10"
                           id="question-input" placeholder="Nhập câu hỏi" />

                        <!-- <button
                           class="absolute flex items-center justify-center h-full w-12 right-0 top-0 text-gray-400 hover:text-gray-600 icon-btn beta">
                           <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                              xmlns="http://www.w3.org/2000/svg">
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                 d="M14.828 14.828a4 4 0 01-5.656 0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z">
                              </path>
                           </svg>
                        </button> -->

                     </div>
                  </div>
                  <div class="ml-4">
                     <button
                        class="flex items-center justify-center bg-indigo-500 hover:bg-indigo-600 rounded-xl text-white px-4 py-1 flex-shrink-0 send-btn">
                        <span>Send</span>
                        <span class="ml-2">
                           <svg class="w-4 h-4 transform rotate-45 -mt-px" fill="none" stroke="currentColor"
                              viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                 d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"></path>
                           </svg>
                        </span>
                     </button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <!-- flash message -->
   <div class="absolute mt-4 mr-6 right-0 top-0 flash-message"></div>
   <input type="hidden" id="converid" />
</body>

</html>

<script src="{{ url_for('static', filename = '/js/index.js') }}"></script>

<!-- Expander  -->
<script src="{{ url_for('static', filename = '/js/expander.js') }}"></script>

<!-- Load history conversation  -->
<script src="{{ url_for('static', filename = '/js/historyConversation.js') }}"></script>

<!-- Example list -->
<!-- <script src="{{ url_for('static', filename = '/js/example.js') }}"></script> -->